html {
	height: 100%;
}
body {
	background-color: #555555;
/*	background: -webkit-linear-gradient(lime, transparent);*/
}
.rdio {
	margin-left: 20px;
	cursor: pointer;
}
.rio {
	font-weight: bold;
	cursor: pointer;
}
.sign-up {
	border: 5px solid #76daff;
	width: 45%;
	float: right;
	text-align: left;
	background-color: black;
	box-shadow: 0 0 60px rgba(0,0,0,0.5);position: static;
	color: #76daff;
	border-radius: 10px;
}
.top-bar {
	border: 5px solid #76daff;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);position: static;
    background-color: black;
    font-weight: bold;
    color: #76daff;
    padding: 15px;
    text-align: right;
    margin-bottom: 20px;
    border-radius: 10px;
}
button {
	background-color: black;
	border: 5px solid #76daff;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);position: static;
    padding: 7px;
    color: #76daff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
/*    transition-property: background, border, color;
	transition-duration: 1s;*/
}
button:hover {
	background-color: red;
	border: 5px solid darkred;
	color: black;
/*	-webkit-transform: rotate(1turn);
	transition: .8s ease-in-out;*/
}
button:active {
	background-color: lime;
	border: 5px solid green;
	color: black;
/*	transition: 0.5s;*/
}
h1 {
	padding-left: 20px;
}
p {
	display: inline;
}
.login-input {
	border: 5px solid #76daff;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);position: static;
    padding: 3px;
    border-radius: 10px;
}
.signup-input {
	border: 2px solid #76daff;
	padding: 9px 8px 9px 8px;
	width: 300px;
	margin-left: 20px;
	border-radius: 6.5px;
	font-size: 18px;
}
.signup-btn {
	margin-left: 20px;
	margin-bottom: 15px;
}
label {
	margin-right: 5px;
	margin-left: 5px;
}
input::-webkit-input-placeholder {
    color: none;
    font-weight: none;
}
.box {
	/*background: -webkit-linear-gradient(lime, magenta);*/
/*	background: -webkit-radial-gradient(circle closest-side, lime, magenta);*/
	
	/*background: -webkit-radial-gradient(65% 15%, circle, aqua, darkblue);
	border-radius: 50%;
	width: 300px;
	height: 300px;*/

	border: 5px solid #76daff;
	width: 50%;
	float: left;
	text-align: left;
	box-shadow: 0 0 60px rgba(0,0,0,0.5);position: static;
	color: #76daff;
	background: black;
	height: 387px;
	margin-bottom: 3px;
	border-radius: 10px;
}
footer {
	color: #76daff;
	text-align: center;
	margin: 500px auto 0 auto;
}
img {
	margin-left: 5px;
	border-radius: 50%;
}
@media screen and (max-width: 812px) {
	.signup-input {
		width: 81.5%;
	}
	.signup-btn {
		width: 89%;
	}
	input[type='radio'] {
		margin-left: 23%;
	}
}
@media screen and (max-width: 682px) {
	.sign-up {
		float: left;
		width: 98.4%;
		margin-bottom: 15px;
	}
	.box {
		float: right;
		width: 98.4%;
	}
	.signup-input {
		width: 90.9%;
	}
	.signup-btn {
		width: 93.9%;
	}
	input[type='radio'] {
		margin-left: 28%;
	}
	.top-bar {
		text-align: center;
	}
	.half {
		text-align: center;
	}
	.login-btn {
		margin-top: 10px;
		margin-bottom: -2px;
		width: 95%;
	}
}
@media screen and (max-width: 624px) {
	.signup-input {
		width: 89.5%;
	}
	.half {
		float: left;
	}
	#login-password {
		margin-left: 3px;
	}
	.login-input {
		width: 61%;
	}
	.signup-btn {
		width: 93%;
	}
}
@media screen and (max-width: 539px) {
	.signup-input {
		width: 88%;
	}
}
@media screen and (max-width: 465px) {
	.signup-input {
		width: 86%;
	}
}
@media screen and (max-width: 393px) {
	.signup-input {
		width: 84%;
	}
	input[type="radio"] {
		margin-left: 20%;
	}
	.signup-btn {
		width: 88%;
	}
}
@media screen and (max-width: 342px) {
	.signup-input {
		width: 81%;
	}
}
@media screen and (max-width: 291px) {
	.signup-input {
		width: 78%;
	}
	.signup-btn {
		width: 85%;
	}
}
@media screen and (max-width: 228px) {
	.signup-input {
		width: 69%;
	}
	.signup-btn {
		width: 79%;
	}
	input[type="radio"] {
		margin-left: 10%;
	}
}
@media print {
	.sign-up {
		display: none;
	}
	.top-bar {
		display: none;
	}
	.box {
		width: 99%;
		text-align: center;
		border-color: black;
		height: 860px;
	}
	footer {
		display: none;
	}
}